.gpt3__brand{
    
}
.gpt3__brand-links{
    text-align: center;
}
.gpt3__brand-links img{
    margin: 0 1rem;
}
@media screen and (max-width:1050px) {
    .gpt3__brand-links img{
        margin-top: 20px;
    }
}