.gpt3__whatgpt3{
    flex:1;
    width: 75%;
    background-color: #0F4279;
    padding: 40px;
    margin: 0 auto;

}
.gpt3__whatgpt3-upper{
    display: flex;
}
.gpt3__whatgpt3-upper_header{
    flex: 1.5;
    padding-top: 20px;
    color: #fff;
    font-family: var(--font-family);
font-style: normal;

/* letter-spacing: -0.04em; */
}
.gpt3__whatgpt3-line_bar{
    width: 28px;
height: 3px;
background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
margin-bottom: 10px;
}
.gpt3__whatgpt3-upper_para{
 flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-left: 50px;
    font-family: var(--font-family);
font-style: normal;
font-weight: 500;

color: #81AFDD;
}
.gpt3__whatgpt3-middle{
    display: flex;
    margin-top: 50px;
}
.gpt3__whatgpt3-middle_header{
    flex: 1;
display: flex;
align-items: center;
justify-content: center;
font-family: var(--font-family);
font-style: normal;
background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.gpt3__whatgpt3-middle_para{
    flex: 1;
display: flex;
align-items: center;
justify-content: flex-end;
color: #FF8A71;
}
.gpt3__whatgpt3-footer{
    flex:1;
    display: flex;
}
.gpt3__whatgpt3-footer_block{
  margin: 50px 20px 0 0;
padding-right: 20px;

}
.gpt3__whatgpt3-footer_block h2{
    font-family: var(--font-family);
    margin-bottom: 30px;
    color: #fff;
}
.gpt3__whatgpt3-footer_block p{
    font-family: var(--font-family);
    color: #81AFDD;
    font-style: normal;
    font-size:small;
font-weight: 600;
line-height: 20px;
}

